body {background-color: #eee8d5;color: #586e75;text-align: center;padding: 100px;}

a {color: #586e75};

@media screen and (prefers-color-scheme: dark) {body {background-color: #002b36;color: #586e75;a {color: #586e75;}}}
